body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://cdn.vectorstock.com/i/1000x1000/68/92/casino-poker-background-green-colors-seamless-vector-5846892.webp);
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: auto;
    margin-top: 80px;
}

header {
    font-size: 25pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 5px;
    color: rgba(186, 238, 193, 0.996);
}

@keyframes spin {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100);
    }
}

.reelsSpinning1 {
    animation: spin 1s infinite linear;
}

.reelsSpinning2 {
    animation: spin 1s infinite linear;
}

.reelsSpinning3 {
    animation: spin 1s infinite linear;
}


.slot {
    width: 80%;
    height: 400px;
    overflow: hidden;
    margin: auto;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slotMachine {
    width: 250px;
    height: 300px;
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#slotMachineContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background-color: goldenrod;
    border-radius: 15px;
    min-height: 350px;
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 80px;
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    z-index: 50;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
    clip-path: polygon(50% 50%,
            90% 10,
            80% 100%,
            20% 100%);
    font-weight: bold;
}

.start-button:active {
    background-color: greenyellow;
    box-shadow: 0 0 10px rgba(235, 235, 42, 0.7);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reel img {
    max-width: 100%;
    max-height: 100%;
    background-color: #f1f1f1;
}

.stop-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;

}

.stop-button:active {
    background-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

#infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
}

#bankContainer,
#pointsContainer,
#formContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    background-color: #d4af37;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    min-height: 50px;
    font-weight: bold;
}

#bankContainer p,
#pointsContainer p,
#formContainer form {
    margin: 0;
    padding: 0;
}
#jackpotContainer {
    position: fixed;
    top: 0;
    left: 0; 
    width: 200px; 
    padding: 10px;
    background-color: #C0C0C0;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
    font-weight: bold;
}

#jackpotContainer h2 {
    margin-bottom: 10px;
}

#jackList {
    list-style-type: none;
    padding: 0;
}